.app {
  position: relative;
  text-align: center;
}

.app-nav {
  display: flex;
  justify-content: center;
}

.app-link {
  color: #61dafb;
}

button {
  padding: 4px;
  border: 2px solid #777;
  border-radius: 4px;
  background-color: whitesmoke;
  cursor: pointer;
}

button.active {
  border: 2px solid slateblue;
  background-color: rgb(202, 193, 255);
}

select {
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(235, 233, 255);
  border: 2px solid slateblue;
}

.loading>img {
  margin: 64px;
  animation: cssload-animate 0.5s ease-in-out infinite;
  animation-direction: alternate;
}

.loading {
  font-size: 24px;
}

@keyframes cssload-animate {
  17% {
    /* border-bottom-right-radius: ; */
  }

  25% {
    transform: rotate(22.5deg);
  }

  50% {
    transform: rotate(45deg);
    /* border-bottom-right-radius: 39px; */
  }

  75% {
    transform: rotate(76.5deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.set-event {
  display: flex;
  min-width: 100px;
  max-width: 300px;
}

.set-event>select {
  max-width: 100%;
}

.event-open {}

.set-maxdev {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.set-maxdev>input {
  max-width: 100%;
}


.set-maxdev>input {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  outline: none;
  background: rgb(202, 193, 255);
  border-radius: 4px;
}

.set-maxdev>input::-moz-range-thumb {
  background: slateblue;
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

.set-maxdev>input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background: slateblue;
}


.rating_controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-height: 48px;
  flex-wrap: wrap;
}

.rating_row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.rating_row:nth-child(even) {
  background-color: #333;
}

.rating_row>span {
  padding: 8px 0;
  /* border: 1px solid red; */
  /* margin: -0.5px; */
}

.rating_rank {
  width: 64px;
}

.rating_rank_delta {
  position: relative;
  font-weight: bold;
  width: 64px;
  text-align: left;
  color: transparent;
  transition: none;
  /* transition-delay: 1s; */
}

.rating_rank_delta.positive {
  color: limegreen;
  transition: color 0.2s ease-in;
}

.rating_rank_delta.positive::before {
  position: absolute;
  content: '▲';
  font-size: 12px;
  left: -8px;
}

.rating_rank_delta.negative::before {
  position: absolute;
  content: '▼';
  font-size: 12px;
  left: -8px;
}

.rating_rank_delta.negative {
  color: tomato;
  transition: color 0.2s ease-in;
}

.rating_flag {
  width: 48px;
}

.rating_org {
  color: #777;
  width: 72px;
}

.rating_name {
  width: 420px;
  overflow: hidden;
  word-break: keep-all;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 4px;
  transition: all 1s;
}

.rating_name:hover {
  background-color: rgb(235, 233, 255, 1);
  color: slateblue;
  transition: all 0.1s;
}

.rating_rating {
  width: 100px;
  text-align: center;
}

.rating_delta {
  font-weight: bold;
  width: 64px;
  text-align: left;
  color: transparent;
  transition: none;
  /* transition-delay: 1s; */
}

.rating_delta.positive {
  color: limegreen;
  transition: color 0.2s ease-in;
}

.rating_delta.negative {
  color: tomato;
  transition: color 0.2s ease-in;
}

.rating_dev {
  color: #777;
  width: 64px;
  text-align: center;
}

.rating_active {
  color: #777;
  width: 180px;
}

.rating_bar {
  text-align: left;
  width: 100%;
}

.rating_bar>span {
  border-radius: 4px;
  display: inline-block;
  height: 100%;
  background-color: red;
  transition: width 0.2s ease-in;
}

#olympics {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/55/Olympic_rings_with_transparent_rims.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #444;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid orange;
}

#olympics:hover {
  color: transparent;
  border-color: cornflowerblue;
  background-size: cover;
  background-color: #eee;
  transition: all 0.5s;
}

.simple-tip {
  position: relative;
  color: indianred;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  text-decoration: wavy;
  border-radius: 100%;
  height: 26px;
  width: 26px;
  background-color: #eee;
}

.simple-tip .simple-tip-hover {
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  border: 2px solid #222;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  padding: 8px;
  display: none;
  min-width: 100px;
  max-width: 300px;
  right: 0%;
}

.simple-tip:hover .simple-tip-hover {
  display: block;
}