.bracket-panel {
	top: 0;
	right: 0;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
	padding: 24px;
}

.bracket-card {
	background-color: #fefefe;
	color: #222;
}

.bracket-card .card-content>div {
	display: flex;
	justify-content: center;
}

.bracket {
	display: flex;
	flex-direction: row;
}

.bracket-round {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 148px;
	margin-left: -2px;
	border: 2px dotted #eee;
	border-top: none;
	border-bottom: none;
}

.bracket-match {
	/* margin: 4px 0; */
}

.bracket-player {
	position: relative;
	height: 16px;
	border: 2px solid #ccc;
	border-radius: 4px;
	margin-top: -1px;
	margin-bottom: -1px;
	overflow: hidden;
	cursor: pointer;
	word-break: keep-all;
	white-space: nowrap;
}

.bracket-player .fi {
	pointer-events: none;
}

.bracket-player:hover {
	border-color: transparent;
	overflow: visible;
}

.bracket-player:hover .bracket-ratings {
	display: none;
}

.bracket-hidden {
	visibility: hidden;
	pointer-events: none;
}

.bracket-player.bracket-winner {
	border-color: cornflowerblue;
}

.bracket-ratings {
	position: absolute;
	top: 0;
	right: 0;
	background: linear-gradient(crimson, cornflowerblue);
	background-size: 100px 1000px;
	background-repeat: norepeat;
	border-radius: 3px;
	color: white;
	pointer-events: none;
}

.show-ratings {
	cursor: pointer;
}