.bracket-panel {
	top: 0;
	right: 0;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
	padding: 24px;
}

.bracket-card {
	background-color: #fefefe;
	color: #222;
}

.bracket-card .card-content>div {
	display: flex;
	justify-content: center;
}

.bracket {
	display: flex;
	flex-direction: row;
}

.bracket-round {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 148px;
	margin-left: -2px;
	border: 2px dotted #eee;
	border-top: none;
	border-bottom: none;
}

.bracket-match {
	margin: 0;
}

.bracket-player {
	height: 16px;
	border: 2px solid #ccc;
	border-radius: 4px;
	margin-top: -1px;
	margin-bottom: -1px;
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
}

.bracket-hidden {
	visibility: hidden;
	pointer-events: none;
}

.bracket-player.bracket-winner {
	border-color: cornflowerblue;
}